{:paths ["src" "resources"]

 :deps
 {org.clojure/java.classpath  {:mvn/version "1.0.0"}
  rewrite-clj/rewrite-clj     {:mvn/version "1.1.47"}}

 :aliases
 {:test   {:extra-paths ["test"]
           :extra-deps  {lambdaisland/kaocha {:mvn/version "1.86.1355"}}
           :main-opts   ["-m" "kaocha.runner"]}
  :hiccup {:extra-deps {hiccup/hiccup {:mvn/version "2.0.0-RC1"}}}}}
